<%= error_messages_for 'note' %>
<!-- [form:note]-->
<table>
  <tr>
    <td>Note name:</td>
    <td><%= text_field("note", "name") %></td>
  </tr>
  <tr>
    <td>Description:</td>
    <td><%= text_area("note", "descr") %></td>
  </tr>
</table>
<!--[eoform:note]-->
